body[data-theme="light"] {
  /* --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff; */
  --color-text-primary: black;
  --color-bg-primary: white;
  --bg-profile-img: url("/images/home_profile_light.jpeg");
}

body[data-theme="dark"] {
  /* --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9; */
  --color-text-primary: white;
  --color-bg-primary: black;
  --bg-profile-img: url("/images/home_profile_dark.jpeg");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  transition: background 0.25s ease-in-out;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}

/* body,
body[data-theme="light"] { */
/* --color-text-primary: #27201a;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff; */
/* color: black;
  background-color: white;
} */

/* body[data-theme="dark"] { */
/* --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #15232d;
  --color-bg-toggle: #a9a9a9; */
/* color: white;
  background-color: black;
} */

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}
